<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form class="login100-form validate-form flex-sb flex-w" id="searchForm" name="searchForm">
                <span class="login100-form-title p-b-32">
                    Git Repository Search
                </span>
                <span class="txt1 p-b-11">
					User Name
				</span>
                <div class="wrap-input100 validate-input m-b-36">
                    <input class="input100" type="text" name="userName" ng-model="formData.userName" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-48">
                    <div class="contact100-form-checkbox">
                        <button type="submit" ng-click="search();" class="login100-form-btn">
								Search
							</button>
                    </div>

                    <div class="contact100-form-checkbox">
                        <button type="button" class="login100-form-btn" ui-sref="user/list">
								Back
							</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>