<div style="text-align: end;background-color: thistle;">
    <button><span ui-sref="logout">Logout</span></button>
</div>
<div style="background-color: #05769C;text-align: center; font-family: Verdana;color: white;height: 100px;">
    <h3>Github Repository List</h3>
</div>
<hr style="height: 5px;color: black;">
<table class="table table-striped table-responsive">
    <tr style="background-color: #B3B6B7;">
        <th>Repository ID</th>
        <th>Owner Name</th>
        <th>Repository Name</th>
        <th>repositpry Link</th>
        <th>Created On</th>
    </tr>
    <tr ng-repeat="Data in getRepoDetails">
        <td>{{Data.id}}</td>
        <td>{{Data.owner.login}}</td>
        <td>{{Data.name}}</td>
        <td>{{Data.html_url}}</td>
        <td>{{Data.created_at}}</td>
        <!-- <th><a href="#/PD/Edit/{{d.AutoId}}">Edit</a> | <a href="#/PD/Details/{{d.AutoId}}">Details</a></th> -->
    </tr>
</table>
<div style="text-align: center;" ng-show="isNoRecords == true">
    <span>NO Records Found</span>
</div>