<div class="container">
    <div style="background-color:chocolate;text-align: center; font-family: Verdana;color: white;height: 100px;">
        <h3>Add User Address</h3>
    </div>
    <br>
    <form action="" id="addressForm">
        <div class="row">
            <div class="" style="width: 45%;">
                <span class="txt1 p-b-11">
                    Address Line One
                </span>
                <div data-ng-show="addressForm.$submitted && addressForm.addressLineOne.$invalid" role="alert" class="ng-active" style="">
                    <span class="text-danger" ng-message="required">Address Line 1 is required</span>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="text" name="addressLineOne" ng-model="formData.addressLineOne" required>
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="" style="width: 10%;">

            </div>
            <div class="" style="width: 45%;">
                <span class="txt1 p-b-11">
                    Address Line Two
                </span>
                <div data-ng-show="addressForm.$submitted && addressForm.addressLineTwo.$invalid" role="alert" class="ng-active" style="">
                    <span class="text-danger" ng-message="required">Address Line 2 is required</span>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="text" name="addressLineTwo" ng-model="formData.addressLineTwo" required>
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="" style="width: 45%;">
                <span class="txt1 p-b-11">
                    Building Name
                </span>
                <div data-ng-show="addressForm.$submitted && addressForm.buildingName.$invalid" role="alert" class="ng-active" style="">
                    <span class="text-danger" ng-message="required">Building Name is required</span>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="text" name="buildingName" ng-model="formData.buildingName" required>
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="" style="width: 10%;">

            </div>
            <div class="" style="width: 45%;">
                <span class="txt1 p-b-11">
                   Area Name
                </span>
                <div data-ng-show="addressForm.$submitted && addressForm.areaName.$invalid" role="alert" class="ng-active" style="">
                    <span class="text-danger" ng-message="required">Area Name is required</span>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="text" name="areaName" ng-model="formData.areaName" required>
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="" style="width: 45%;">
                <span class="txt1 p-b-11">
                    City
                </span>
                <div data-ng-show="addressForm.$submitted && addressForm.city.$invalid" role="alert" class="ng-active" style="">
                    <span class="text-danger" ng-message="required">City is required</span>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="text" name="city" ng-model="formData.city" required>
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="" style="width: 10%;">

            </div>
            <div class="" style="width: 45%;">
                <span class="txt1 p-b-11">
                    State
                </span>
                <div data-ng-show="addressForm.$submitted && addressForm.state.$invalid" role="alert" class="ng-active" style="">
                    <span class="text-danger" ng-message="required">State is required</span>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="text" name="contact" ng-model="formData.state" required>
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="" style="width: 45%;">
                <span class="txt1 p-b-11">
                    Country
                </span>
                <div data-ng-show="addressForm.$submitted && addressForm.country.$invalid" role="alert" class="ng-active" style="">
                    <span class="text-danger" ng-message="required">Country is required</span>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="text" name="country" ng-model="formData.country" required>
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="" style="width: 10%;">

            </div>
            <div class="" style="width: 45%;">
                <span class="txt1 p-b-11">
                    Pincode
                </span>
                <div data-ng-show="addressForm.$submitted && addressForm.pincode.$invalid" role="alert" class="ng-active" style="">
                    <span class="text-danger" ng-message="required">Pincode is required</span>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="text" name="pincode" ng-model="formData.pincode" required>
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
    </form>
    <div class="flex-sb-m w-full p-b-48">
        <div class="contact100-form-checkbox">
            <button type="button" class="login100-form-btn" ui-sref="user/list">
                    Back to Home
                </button>
        </div>
        <div class="contact100-form-checkbox">
            <button ng-click="addAddress();" class="login100-form-btn">
                    Add
                </button>
        </div>
    </div>
</div>