<div style="text-align: end;background-color: thistle;">
    <button><span ui-sref="logout">Logout</span></button>
</div>
<div style="background-color: #05769C;text-align: center; font-family: Verdana;color: white;height: 100px;">
    <h3>User Address List</h3>
</div>
<br>
<div style="text-align: end;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <button ui-sref="add/address" style="border-radius: 25px;"><span style="color: green;"> Add Address</span></button>
</div>
<hr style="height: 5px;color: black;">
<table class="table table-striped table-responsive">
    <tr style="background-color: #B3B6B7;">
        <th>User Name</th>
        <th>Address</th>
        <th>Building Name</th>
        <th>Area Name</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Pincode</th>
    </tr>
    <tr ng-repeat="Data in addressDetails">
        <td>{{Data.username}}</td>
        <td>{{Data.address_line_1}}.{{Data.address_line_2}}</td>
        <td>{{Data.building_name}}</td>
        <td>{{Data.area_name}}</td>
        <td>{{Data.city}}</td>
        <td>{{Data.state}}</td>
        <td>{{Data.country}}</td>
        <td>{{Data.pincode}}</td>
    </tr>
</table>