<div class="limiter">
    <div class="container-login100" data-ng-init="init()">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form class="login100-form validate-form flex-sb flex-w" name="loginForm" id="loginForm">
                <span class="login100-form-title p-b-32">
						Account Login
					</span>

                <span class="txt1 p-b-11">
						Username
					</span>
                <div class="wrap-input100 validate-input m-b-36">
                    <input class="input100" type="text" name="email_id" ng-model="formData.email_id">
                    <span class="focus-input100"></span>
                </div>

                <span class="txt1 p-b-11">
						Password
					</span>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="password" name="pass" ng-model="formData.password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-48">
                    <div class="contact100-form-checkbox">
                        <button type="submit" ng-click="login();" class="login100-form-btn">
								Login
							</button>
                    </div>

                    <div class="contact100-form-checkbox">
                        <button type="button" class="login100-form-btn" ui-sref="signup">
								New User
							</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>