<div class="limiter">
    <div class="container-login100" data-ng-init="init()">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form class="login100-form validate-form flex-sb flex-w" name="signupForm" id="signupForm" data-ng-submit="register(signupForm.$valid)" novalidate>
                <span class="login100-form-title p-b-32">
						Create Account
					</span>
                <span class="txt1 p-b-11">
						Salutation
					</span>
                <span class="txt1 p-b-11" style="text-align: left;">
						First Name <span data-ng-show="signupForm.$submitted && signupForm.firstName.$invalid" class="text-danger" ng-message="required">Required</span>
                </span>
                <div class="row" style="margin-left: 3px;">
                    <div class="" style="width: 30%;">
                        <select name="salutation" ng-model="formData.salutation" ng-change="salutationChange()" style="border:0px;
						outline:0px;margin-top: 5px;">
							<option value="">Option</option>
							<option value="Mr">Mr</option>
							<option value="Ms">Ms  </option>
							<option value="Mrs">Mrs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
						  </select>
                    </div>
                    <div class="" style="width: 70%;margin: 0%;">
                        <div class="wrap-input100 validate-input m-b-36">
                            <input class="input100" type="text" name="firstName" ng-model="formData.firstName" required>
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                </div>
                <span class="txt1 p-b-11">
					Last Name
				</span>
                <div data-ng-show="signupForm.$submitted && signupForm.lastName.$invalid" role="alert" class="ng-active" style="">
                    <span class="text-danger" ng-message="required">Lastname is required</span>
                </div>
                <div class="wrap-input100 validate-input m-b-36">
                    <input class="input100" type="text" name="lastName" ng-model="formData.lastName" required>
                    <span class="focus-input100"></span>
                </div>

                <span class="txt1 p-b-11">
					Email
				</span>
                <div data-ng-show="signupForm.$submitted && signupForm.emailid.$error" role="alert" class="ng-active" style="">
                    <span class="text-danger" ng-show="signupForm.emailid.$error.required">Email is required.</span>
                    <span class="text-danger" ng-show="signupForm.emailid.$error.emailid">Invalid email address.</span>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="email" name="emailid" ng-model="formData.emailid" required>
                    <span class="focus-input100"></span>
                </div>

                <span class="txt1 p-b-11">
						Password
					</span>
                <div data-ng-show="signupForm.$submitted && signupForm.password.$invalid" role="alert" class="ng-active" style="">
                    <span class="text-danger" ng-message="required">Password is required</span>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="password" name="password" ng-model="formData.password" required>
                    <span class="focus-input100"></span>
                </div>

                <span class="txt1 p-b-11">
					Confirm Password
				</span>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="password" name="cpassword" ng-model="formData.cpassword" required>
                    <span class="focus-input100"></span>
                </div>

                <span class="txt1 p-b-11">
                    Gender
                </span>
                <span class="txt1 p-b-11" style="text-align: left;">
                    AGE <span data-ng-show="signupForm.$submitted && signupForm.age.$invalid" class="text-danger" ng-message="required">Required</span>
                </span>
                <div class="row" style="margin-left: 3px;">
                    <div class="" style="width: 50%;">
                        <select name="salutation" ng-model="formData.gender" ng-change="genderChange()" style="border:0px;
                    outline:0px;margin-top: 5px;">
                        <option value="">Option</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female  </option>
                      </select>
                    </div>
                    <div class="" style="width: 50%;margin: 0%;">
                        <div class="wrap-input100 validate-input m-b-36">
                            <input class="input100" type="text" name="age" ng-model="formData.age" required>
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                </div>
                <span class="txt1 p-b-11">
                    Mobile Number
                </span>
                <div data-ng-show="signupForm.$submitted && signupForm.contact.$invalid" role="alert" class="ng-active" style="">
                    <span class="text-danger" ng-message="required">Contact is required</span>
                </div>
                <div class="wrap-input100 validate-input m-b-12">
                    <input class="input100" type="tel" name="contact" ng-model="formData.mobileNumber" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="flex-sb-m w-full p-b-48">
                    <div class="contact100-form-checkbox">
                        <button type="submit" ng-click="registerUser();" class="login100-form-btn">
								Register
							</button>
                    </div>
                    <div class="contact100-form-checkbox">
                        <button type="button" class="login100-form-btn" ui-sref="login">
								Back to login
							</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-success">{{successMesssage}}</div>
                    <div class="col-sm-12 text-danger">{{errorMesssage}}</div>
                </div>

            </form>
        </div>
    </div>
</div>