<div style="text-align: end;background-color: thistle;">
    <button><span ui-sref="logout">Logout</span></button>
</div>
<div style="background-color: #05769C;text-align: center; font-family: Verdana;color: white;height: 100px;">
    <h3>Users List</h3>
</div>
<br>
<div style="text-align: end;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <button ui-sref="enterName" style="border-radius: 25px;"><span style="color: green;"> Get Github Repository Names</span></button>
</div>
<hr style="height: 5px;color: black;">
<table class="table table-striped table-responsive">
    <tr style="background-color: #B3B6B7;">
        <th>User Name</th>
        <th>Email ID</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Mobile Number</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="Data in userDetails">
        <td>{{Data.salutation}}.{{Data.first_name}}.{{Data.las_tname}}</td>
        <td>{{Data.email_id}}</td>
        <td>{{Data.age}}</td>
        <td>{{Data.gender}}</td>
        <td>{{Data.mobile_number}}</td>
        <th><button ui-sref="address/list({userID:Data.id})">View Address</button></th>
    </tr>
</table>